{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
<div id="blog-date" class="pb-1">
<i data-feather="calendar"></i> <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>
</div>

{{ with .Params.tags }}
<div id="blog-tags" class="mt-auto">
    <i data-feather="tag"></i>
        {{ range .}}
        {{ $href := print (absURL "tags/") (urlize .) }}
        <a class="btn btn-sm btn-outline-dark tag-btn" href="{{ $href }}">{{ . }}</a>
        {{ end }}
</div>
{{ end }}